PUBLIC_ORIGIN=http://localhost:3000

# 메인 PACS (Orthanc)
ORTHANC_HTTP_PORT=8042
ORTHANC_DICOM_PORT=4242
ORTHANC_NAME=PACS_MAIN

# 메인 PACS용 MySQL / Redis
RDS_PORT=3306
RDS_NAME=pacsdb
RDS_PASS=pacs_password
REDIS_PORT=6379

# 익명화 PACS (Orthanc)
ORTHANC_HTTP_PORT_ANON=8043
ORTHANC_DICOM_PORT_ANON=4243
ORTHANC_NAME_ANON=PACS_ANON

# 익명화 PACS용 MySQL / Redis
RDS_PORT_ANON=3307
RDS_NAME_ANON=anonymizationdb
RDS_PASS_ANON=anonymization_password
REDIS_PORT_ANON=6380
